.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#highScores {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 px 20px 0 px 0px;
}

#timer {
    float: right;
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 px 20px 0 px 0px;
}

#container {
    background-color: lemonchiffon;
    border-width: 5px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 200px;
    padding: 30px 0px 50px 0px;
}

#container button {
    background-color: darkgreen;
    color: white;
    padding: 5px;
    margin: 0px 10px;
    width: 200px;
}

#start-button {
    font-size: 18px;
    color: white;
    border: solid;
    background-color: darkgreen;
    padding: 5px;
}

.hide {
    display: none;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: lemonchiffon;
    }
    #container {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: auto;
        padding: 10px 0px 10px 0px; 
    }
}